<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book Library</title>
</head>
<body>
    <h1>Welcome to Our Book Library</h1>
    <p>Click the buttons below to register or login:</p>
<!-- Button to go to the registration page -->
<button onclick="window.open('register.html', '_blank')">Register</button>
<!-- Button to go to the login page -->
<button onclick="window.open('login.html', '_blank')">Login</button>
    <ul>
        <li>
            <h2>Fiction</h2>
            <ul>
                <li>
                    <h3>Science Fiction</h3>
                    <ul>
                        <li>
                            <h4>Piranesi by Susanna Clarke</h4>
                            <img src="/images/piranesi.jpg" alt="Piranesi" width="100" height="100">
                        </li>
                        <li>
                            <h4>Mexican Gothic by Silvia Moreno-Garcia</h4>
                            <img src="/images/Mexican Gothic.jpg" alt="Mexican Gothic" width="100" height="100">
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Thrillers</h3>
                    <ul>
                        <li>
                            <h4>The Other Emily by Dean Koontz</h4>
                            <img src="/images/The Other Emily.jpg" alt="The Other Emily" width="100" height="100">
                        </li>
                        <li>
                            <h4>The Widow by Kaira Rouda</h4>
                            <img src="/images/The Widow.jpg" alt="The Widow" width="100" height="100">
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Romantic Novels</h3>
                    <ul>
                        <li>
                            <h4>Pride and Prejudice by Jane Austen</h4>
                            <img src="/images/Pride and Prejudice.jpg" alt="Pride and Prejudice" width="100" height="100">
                        </li>
                        <li>
                            <h4>The Notebook by Nicholas Sparks</h4>
                            <img src="/images/The Notebook.jpg" alt="The Notebook" width="100" height="100">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
